.bill {
  background: $gray-1;
  text-align: center;
  color: $white;
  font-size: 22px;
}

.bill:after {
  background: linear-gradient(-45deg, transparent 16px, $gray-1 0), linear-gradient(45deg, transparent 16px, $gray-1  0);
  background-repeat: repeat-x;
  background-position: left bottom;
  top: 22px;
}
.bill:before,
.bill:after {
  background-repeat: repeat-x;
  background-size: 16px;
  content: "";
  display: block;
  height: 22px;
  left:0;
  width: 100%;
  position: relative;
}