.slide-fade-enter-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(100%);
}

.list-enter-active, .list-leave-active {
  transition: all 0.3s;
}

.list-enter, .list-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.pulse {
  box-shadow: 0 0 0 0 black;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(130, 217, 101, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(82, 157, 57, 0.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #616161;
}

.site__call-action {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.breadcrumb-wrapper {
  background: #f0f0f0;
  margin-bottom: 15px;
}
.breadcrumb-wrapper .breadcrumb {
  margin: 0;
}
.breadcrumb-wrapper .breadcrumb a {
  color: #616161;
  font-size: 13px;
}
.breadcrumb-wrapper .breadcrumb li:after {
  top: -2px;
  right: -5px;
  width: 25px;
  height: 25px;
}

.filter_block .panel-heading {
  font-weight: bold;
}

.filter {
  position: relative;
}
.filter__label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 15px;
}
.filter__label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid #f0f0f0;
  z-index: 2;
}
.filter__inpt {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.filter__inpt:checked:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  background: #82d965;
  display: block;
  width: 14px;
  height: 14px;
  z-index: 3;
}

.header-main .header-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.header-main__logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-main__logo_wrapper {
  margin: 0;
  display: flex;
  align-items: center;
}
.header-main__logo_link {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  color: #29b8e5;
  text-decoration: none;
}
.header-main__logo_link:hover, .header-main__logo_link:visited, .header-main__logo_link:active, .header-main__logo_link:focus {
  color: #29b8e5;
  text-decoration: none;
  outline: none;
}
.header-main__logo_link-green {
  margin-left: 15px;
  color: #82d965;
  display: none;
}
.header-main__logo_link-at {
  display: none;
}
.header-main__logo_link-rose {
  color: #fd5c92;
  display: none;
}
.header-main__logo_link img {
  width: 70px;
  height: 70px;
  display: block;
}
.header-main__menu_title {
  float: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 50px;
  color: #fd5c92;
}
.header-main__menu_btn {
  background: #29b8e5;
  float: right;
  border-radius: 5px;
  outline: none !important;
  height: 40px;
  width: 53px;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 5px;
}
.header-main__menu_btn .fa {
  font-size: 25px;
  color: #fff;
}
.header-main__menu ul {
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%;
}
.header-main__menu ul li {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease;
}
@media (max-width: 584px) {
  .header-main__menu ul li {
    width: 100%;
    text-align: center;
    border-top: 1px solid #29b8e5;
  }
}
.header-main__menu ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 53px;
  font-size: 17px;
  padding: 0 10px;
  color: #616161;
  text-decoration: none !important;
}
@media (min-width: 426px) and (max-width: 1024px) {
  .header-main__menu ul li a {
    font-size: 13px;
    padding: 0 8px;
  }
}
.header-main__menu ul li .header-main__sub-menu {
  position: absolute;
  width: 200px;
  background: #fff;
  display: none;
  z-index: 10;
  box-shadow: 0 6px 7px 0 #616161;
}
.header-main__menu ul li .header-main__sub-menu li {
  width: 100%;
  border-top: 1px solid #82d965;
  transition: all 0.3s ease;
}
.header-main__menu ul li .header-main__sub-menu li a {
  font-size: 15px;
  text-transform: none;
  padding-left: 30px;
}
.header-main__menu ul li .header-main__sub-menu li:hover {
  background: #82d965;
}
.header-main__menu ul li .header-main__sub-menu li:hover a {
  color: #fff;
}
.header-main__menu ul li .special-item-tooltype {
  position: absolute;
  width: 100px;
  background: #f0f0f0;
  display: none;
  z-index: 10;
  box-shadow: 0 6px 7px 0 #616161;
}
.header-main__menu ul li .special-item-tooltype li {
  display: inline-block;
  width: 50%;
  background: none !important;
  float: left;
}
.header-main__menu ul li .special-item-tooltype li img {
  width: 100%;
  max-width: 100%;
}
.header-main__menu ul li:hover {
  background: #82d965;
}
.header-main__menu ul li:hover > a {
  color: #fff;
}
.header-main__menu ul li:hover > .header-main__sub-menu {
  display: block;
}
.header-main__menu ul li.special-item:hover {
  background: #29b8e5;
}
.header-main__menu ul li.special-item:hover .special-item-tooltype {
  display: block;
}
.header-main__phone {
  text-align: right;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-main__phone a {
  text-decoration: none !important;
  display: flex;
  align-items: center;
  color: #616161;
}
.header-main__phone a .fa {
  font-size: 25px;
  margin-right: 5px;
}
.header-main__lang {
  font-size: 21px;
}
@media (min-width: 426px) {
  .header-main__lang {
    font-size: 15px;
  }
}
.header-main__lang_list {
  display: inline-block;
  text-align: right;
  padding: 0;
  margin-bottom: 0;
  width: 100%;
}
.header-main__lang_list li {
  display: inline;
  padding: 0 10px;
}
@media (min-width: 426px) {
  .header-main__lang_list li {
    padding: 0 5px;
  }
}
.header-main__lang_list li:first-child {
  border-right: 1px solid #29b8e5;
}
.header-main__lang_list li a, .header-main__lang_list li.active {
  font-weight: bold;
  color: #fd5c92;
  line-height: 90px;
}
@media (min-width: 426px) {
  .header-main__lang_list li a, .header-main__lang_list li.active {
    line-height: 53px;
  }
}
.header-main__lang_list li.active {
  color: #29b8e5;
}
.header-main__cart {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-main.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 200;
}
.header-main.sticky-header .header-main__logo_link {
  font-size: 15px;
  transition: all 0.3s ease;
}
.header-main.sticky-header .header-main__logo_link img {
  width: 30px;
  height: 30px;
  transition: all 0.3s ease;
}
.header-main.sticky-header .header-main__phone {
  font-size: 15px;
  transition: all 0.3s ease;
}

.cart {
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.cart__button {
  background: none;
  border: none;
  padding: 0;
  position: relative;
  width: 100%;
  text-align: right;
  outline: none;
}
.cart__button i.fa {
  color: #29b8e5;
  font-size: 30px;
  width: 52px;
}
.cart__button_total-items {
  position: absolute;
  color: #333;
  top: -9px;
  right: -22px;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: #82d965;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  font-weight: bold;
}
.cart__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: #616161;
  opacity: 0.5;
}
.cart__content {
  position: fixed;
  width: 25%;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 100;
  background: #fff;
  opacity: 1;
  padding: 0 20px;
}
@media (max-width: 1024px) {
  .cart__content {
    width: 70%;
  }
}
@media (max-width: 769px) {
  .cart__content {
    width: 80%;
  }
}
@media (max-width: 584px) {
  .cart__content {
    width: 100%;
  }
}
@media (max-width: 426px) {
  .cart__content {
    width: 100%;
  }
}
.cart__header {
  display: flex;
  height: 50px;
  border-bottom: 3px solid #616161;
  font-size: 17px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}
.cart__product-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 200px);
}
@media (max-width: 584px) {
  .cart__product-list {
    height: calc(100% - 270px);
  }
}
@media (max-width: 426px) {
  .cart__product-list {
    height: calc(100% - 270px);
  }
}
.cart__product-item {
  display: flex;
  border-bottom: 1px dashed #616161;
  padding: 5px 0;
  position: relative;
}
.cart__product-item:last-child {
  border-bottom: none;
}
.cart__product-image {
  width: 20%;
}
.cart__product-info {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  width: 80%;
  position: relative;
}
.cart__product-info_name {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 17px;
}
.cart__product-info_qty {
  display: inline-block;
  width: 50%;
}
.cart__product-info_price {
  display: inline-block;
  width: 48%;
  font-size: 14px;
}
.cart__product-remove {
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}
.cart__product-remove .fa-times {
  font-size: 17px;
}
.cart__product-dialog {
  position: absolute;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: -20px;
  right: -20px;
  font-size: 15px;
  bottom: 0;
  background: #f44336;
}
.cart__product-dialog button {
  border: none;
  background: none;
  outline: none !important;
}
.cart__product-dialog button:hover {
  text-decoration: underline;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.cart__qty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  width: 90px;
}
.cart__qty-update {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart__qty-update .fa {
  font-size: 25px;
}
.cart__footer {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
}
.cart__total {
  display: flex;
  height: 50px;
  border-top: 3px solid #616161;
  border-bottom: 3px solid #616161;
  font-size: 17px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}
.cart__cta {
  margin: 0 -20px;
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 584px) {
  .cart__cta {
    margin-bottom: 70px;
  }
}
@media (max-width: 426px) {
  .cart__cta {
    margin-bottom: 70px;
  }
}
.cart ::-webkit-scrollbar {
  width: 8px;
}
.cart ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 2px;
}
.cart ::-webkit-scrollbar-thumb {
  background: #616161;
  border-radius: 4px;
}
.cart ::-webkit-scrollbar-thumb:hover {
  background: #616161;
}

.checkout__cart_without-sale {
  color: #aaa;
  text-decoration: line-through;
  font-size: 16px;
}
.checkout__cart_sale {
  color: #82d965;
  font-weight: bold;
  font-size: 18px;
}
.checkout__cart_total {
  font-size: 18px;
  font-weight: bold;
}

.checkout .error {
  color: red;
}

.homepage {
  padding-top: 50px;
}

.product-info {
  margin-bottom: 50px;
  border: 2px solid #f0f0f0;
  padding: 15px;
}
.product-info h4 {
  font-weight: bold;
}
.product-info__delivery_ukr {
  width: 100%;
  float: left;
}
.product-info__delivery_ukr img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.product-info__delivery_comp {
  margin-top: 35px;
}
.product-info__delivery_comp img {
  height: 34px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.product-info__sale {
  text-align: center;
}
.product-info__sale table {
  width: 100%;
}
.product-info__sale table thead {
  background: #fd5c92;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
.product-info__sale table thead td {
  height: 40px;
}
.product-info__sale table tbody td {
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  border-bottom: 1px solid #616161;
}
.product-info__sale table tbody td.discount {
  color: #82d965;
}
.product-info__pack {
  margin-top: 35px;
}
.product-info__pack a {
  font-size: 17px;
  text-decoration: none !important;
  color: #82d965;
  transition: all 0.3s ease;
  font-weight: bold;
  text-transform: uppercase;
}
.product-info__pack a .fa {
  font-size: 29px;
  color: #29b8e5;
  margin-right: 10px;
}
.product-info__pack a:hover {
  color: #29b8e5;
}
.product-info__pack a:hover .fa {
  color: #82d965;
}

.product-media__images .image-additional a {
  padding: 0;
  border: 0;
  border-radius: 0;
}
.product-media__video video {
  max-width: 100%;
  margin-bottom: 30px;
}

.contacts {
  margin-top: 50px;
}
.contacts__phone, .contacts__address {
  text-align: center;
  background: #f8f8f8;
  border: 1px solid #f0f0f0;
  padding: 30px;
  height: 280px;
}
.contacts__phone_title, .contacts__address_title {
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  display: inline-block;
}
.contacts__phone_social {
  padding: 0;
  margin: 0;
}
.contacts__question h3 {
  margin: 30px 0;
  padding: 30px;
  background: #29b8e5;
  color: #fff;
  font-weight: bold;
}
.contacts__question input, .contacts__question textarea {
  border: 2px solid #29b8e5;
  height: 46px;
  text-align: left;
  color: #616161;
  text-shadow: none;
  outline: none;
}
.contacts__question textarea {
  height: 88px;
}

.insta__item {
  max-height: 350px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}
.insta__item_img {
  width: 100%;
}
.insta__item_likes {
  position: absolute;
  color: #fff;
  top: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 360px;
  opacity: 0;
}
.insta__item_likes-bg {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  background: #333;
  opacity: 0;
  transition: all 0.5s ease;
}
.insta__item_likes .fa {
  font-size: 40px;
  margin-right: 15px;
}
.insta__item:hover .insta__item_likes {
  opacity: 1;
}
.insta__item:hover .insta__item_likes-bg {
  opacity: 0.4;
}
.insta__title {
  margin-bottom: 30px;
  font-size: 18px;
  color: #333;
}
.insta__title_img {
  max-width: 50px;
  display: block;
  float: left;
}
@media (min-width: 769px) {
  .insta__title_img {
    max-width: 80px;
  }
}
.insta__title_img img {
  max-width: 100%;
}
.insta__title span {
  margin-left: 15px;
  font-weight: bold;
  line-height: 50px;
}
@media (min-width: 769px) {
  .insta__title span {
    line-height: 80px;
  }
}
.insta__common {
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  color: #29b8e5;
  font-weight: bold;
  padding-right: 15px;
}
@media (min-width: 769px) {
  .insta__common {
    line-height: 80px;
    text-align: right;
  }
}

.youtube {
  display: flex;
  margin-bottom: 15px;
}
.youtube__text {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.youtube__text p {
  font-weight: bold;
  font-size: 15px;
}
.youtube__video iframe {
  max-width: 100% !important;
  min-width: 100% !important;
}

.footer__facebook {
  padding-top: 15px;
}

.dtn-roses {
  height: 48px;
  width: 100%;
  line-height: 48px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.dtn-roses.btn-orange {
  background: #ff8173;
  border: 1px solid #ff8173;
}
.dtn-roses.btn-green {
  background: #82d965;
  border: 1px solid #82d965;
}
.dtn-roses.btn-blue {
  background: #29b8e5;
  border: 1px solid #29b8e5;
}
.dtn-roses:hover, .dtn-roses.btn-disabled {
  background: #f0f0f0;
  border: 1px solid #333;
  text-decoration: none;
  color: #333;
}
.dtn-roses_small {
  height: 48px;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
  transition: all 0.3s ease;
}
.dtn-roses.btn-cta {
  border-radius: 0.25rem;
  background: #27C229;
  border: 1px solid #27C229;
  text-shadow: 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.1);
}
.dtn-roses.btn-cta:hover {
  background: #21A623;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
