@media (min-width: 426px) {
  .header-main {
    height: 90px; } }
.header-main__logo {
  margin: 0; }
  @media (min-width: 426px) {
    .header-main__logo {
      height: 90px; } }
  .header-main__logo_link {
    display: inline-block;
    font-size: 35px;
    height: 90px;
    line-height: 84px;
    font-weight: bold;
    color: #29b8e5;
    text-decoration: none; }
    .header-main__logo_link:hover, .header-main__logo_link:visited, .header-main__logo_link:active, .header-main__logo_link:focus {
      color: #29b8e5;
      text-decoration: none;
      outline: none; }
    .header-main__logo_link-green {
      color: #82d965;
      display: none; }
    .header-main__logo_link-at {
      display: none; }
    .header-main__logo_link-rose {
      color: #fd5c92;
      display: none; }
    .header-main__logo_link img {
      width: 70px;
      height: 70px;
      display: block;
      float: left;
      margin-right: 15px;
      margin-top: 10px; }
.header-main__menu_title {
  float: left;
  font-size: 21px;
  font-weight: bold;
  line-height: 50px;
  color: #fd5c92; }
.header-main__menu_btn {
  background: #29b8e5;
  float: right;
  border-radius: 5px;
  outline: none !important;
  height: 40px;
  width: 53px;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 5px; }
  .header-main__menu_btn .fa {
    font-size: 25px;
    color: #fff; }
.header-main__menu ul {
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0;
  width: 100%; }
  .header-main__menu ul li {
    display: inline-block; }
    @media (max-width: 584px) {
      .header-main__menu ul li {
        width: 100%;
        text-align: center;
        border-top: 1px solid #29b8e5; } }
    .header-main__menu ul li a {
      display: block;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 53px;
      font-size: 19px;
      padding: 0 15px; }
.header-main__lang {
  font-size: 21px; }
  @media (min-width: 426px) {
    .header-main__lang {
      font-size: 15px; } }
  .header-main__lang_list {
    display: inline-block;
    text-align: right;
    padding: 0;
    margin-bottom: 0;
    width: 100%; }
    .header-main__lang_list li {
      display: inline;
      padding: 0 10px; }
      @media (min-width: 426px) {
        .header-main__lang_list li {
          padding: 0 5px; } }
      .header-main__lang_list li:first-child {
        border-right: 1px solid #29b8e5; }
      .header-main__lang_list li a, .header-main__lang_list li.active {
        font-weight: bold;
        color: #fd5c92;
        line-height: 90px; }
        @media (min-width: 426px) {
          .header-main__lang_list li a, .header-main__lang_list li.active {
            line-height: 53px; } }
      .header-main__lang_list li.active {
        color: #29b8e5; }

.header-cart {
  display: block;
  width: 100%;
  height: 90px; }
  .header-cart__button {
    background: none;
    border: none;
    padding: 0;
    position: relative;
    width: 100%;
    text-align: right;
    outline: none; }
    .header-cart__button i.fa {
      color: #29b8e5;
      font-size: 52px;
      width: 52px;
      margin-left: 0;
      margin-top: 17px; }
    .header-cart__button_total-items {
      position: absolute;
      color: #333;
      top: 8px;
      right: 2px;
      display: block;
      width: 35px;
      height: 35px;
      border-radius: 20px;
      background: #82d965;
      text-align: center;
      line-height: 35px;
      font-size: 16px;
      font-weight: bold; }
  .header-cart__total-list {
    top: 80px;
    right: 15px !important;
    border: none;
    min-width: 300px;
    left: inherit; }

.homepage {
  padding-top: 50px; }

.dtn-roses {
  height: 48px;
  width: 100%;
  line-height: 48px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease; }
  .dtn-roses.btn-orange {
    background: #ff8173;
    border: 1px solid #ff8173; }
  .dtn-roses:hover {
    background: #f0f0f0;
    border: 1px solid #333;
    text-decoration: none;
    color: #333; }

/*# sourceMappingURL=style.css.map */
