//MAIN COLORS
$blue: #00a6eb;
$warning: #f44336;
$rose: #fd5c92;
$green: #82d965;
$orange: #ff8173;
$dark-gray: #aaa;
$gray: #f0f0f0;
$gray-1: #f8f8f8;
$black: #333;
$black-1: #616161;
$white: #fff;

$cta-green: #27C229;
$cta-green-hover: #21A623;

//REDESIGN
$green-default: #4fac25;
$blue-default: #00a6eb;
$rose-default: #e74285;
$gray-default: #eeedf5;
