.header-mobile {
  border-top: 12px solid $green-default;

  &__wrapper {
    justify-content: space-around;
    display: flex;
    align-items: center;
    height: 100px;
  }

  &__logo {
    width: 80px;
    @media (max-width: $small) {
      width: 15%;
    }
  }

  &__phone {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  &__icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    svg {
      height: 25px;
    }

    path {
      fill: $white;
    }

    &-blue {
      background: $blue-default;
    }

    &-green {
      background: $green-default;
    }
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 11px;
    margin: 0;
    text-align: center;
  }
}

.header-list {
  &__wrapper {
    height: 57px;
    background: $gray-light;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    margin: 0;
  }

  &__item {
    font-size: 20px;
    display: inline-block;

    a {
      color: $black-text;
      padding: 0 25px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
